# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Django stuff:
*.sqlite3
*.log
db.sqlite3
*.pot
*.mo
*.pyc

# Migrations
**/migrations/
!**/migrations/__init__.py

# Environments
env/
venv/
.env

# IDE/editor files
.vscode/
.idea/
.DS_Store
Thumbs.db
