<div class="basis-1/3 p-4 bg-gray-800 rounded shadow space-y-6">
        <h3 class="text-lg font-semibold text-white mb-2">Recent Messages</h3>
    
        {% for message in room_messages %}
        <div class="bg-gray-700 text-white p-4 rounded-lg shadow hover:shadow-lg transition-shadow duration-200 space-y-2">
            <div class="text-sm text-gray-300">
                <span class="font-semibold">@{{ message.user }}</span> · 
                <span class="italic">{{ message.created|timesince }} ago</span>
            </div>

            <div class="text-sm text-gray-400">
                <p class="truncate">Message to: <span class="text-gray-200 font-medium">{{ message.room }}</span></p>
            </div>

            <div class="text-base bg-gray-800 h-10 pl-3 pt-2">
                {{ message.body }}
            </div>
        </div>
        {% empty %}
         <p class="text-gray-400">No messages yet.</p>
        {% endfor %}
    </div>